/**
Author:           Paul Rodriguez
Created:         between February and March, 2013
Last Updated:  2/20/2014

this css style is to style a menu so that ul items can be
next to each other and their submenus are arranged
from top to bottom with below their parent item
**/

#wrapper{width:100%;margin:0 auto;margin-right:20px;}

.search_bar{position:absolute}

/*outer-most element, usually a div, that should extend throughout parent element*/
.nav{width:100%;float:right;margin:0px; padding:0px; margin-top:0px}

/*the first list elements of our menu that are always visible*/
div#wrapper{display:inline-block}

/*
eliminate bullet points for a ul list and move to right
and customize other stuff for its li eleemnts
*/
ul#main_menu{list-style:none; float:right;margin:0px; padding:0px}
ul#main_menu > li{position:relative;float:right;border:solid 1px #006400;}
#main_menu > li.first{border-left:solid 2px #006400;}
#main_menu > li.last{border-right:solid 2px #006400;}
	
/*styles for inner menu*/

/*hide the submenu and set it up so that its is below its parent element*/
ul#main_menu > li > ul{width:100%;position:absolute;list-style:none;margin:0px;padding:0px;display:none;background-color:white}

/*apply style to submenu items*/
ul#main_menu > li > ul.subMenuDropdown > li.page-item {position:relative; color:black;border:solid 1px grey;display:block;background-color:white;width:100%}

/*make div containing link extend to max size*/
ul#main_menu > li > ul.subMenuDropdown > li.page-item > div {width:100%;height:100%}

/*have link extend to max size of li element*/
ul#main_menu > li > ul.subMenuDropdown > li.page-item > div > a {color:black;display:inline-block;text-decoration:none;width:100%;height:100%;text-align:center}



/*************dropdown effect using css******************/

/*show the submenu when hovering over a main menu link*/
ul#main_menu > li:hover > ul.subMenuCssDropdown{display:block;background-color:white;}

/*set background color of the main menu link being hovered*/
ul#main_menu > li:hover{background-color:grey;}
 
/*change style when we are over a sub-menu link*/
ul#main_menu > li:hover > ul.subMenuCssDropdown > li:hover{background-color:yellow;} 